.blog-main-container {
  padding: 10%;
  padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .blog--links-banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .blog--links-container {
      align-items: center;
      box-sizing: border-box;
      padding-top: 5px;
      margin-right: 0px;

      .link-container {
        display: flex;

        .arrow-container {
          width: 35px;
          display: flex;
          align-items: center;

          .selected-arrow {
            cursor: pointer;
            width: 20px;
          }
        }

        .link-label {
          cursor: pointer;
          color: #bbbbbb;
          font-weight: bold;
          font-size: 18px;
          text-decoration: none;
          text-transform: uppercase;
        }

        .selected-option {
          color: #dba360;
          text-decoration: underline;
        }
      }
    }
  }
  .mobile-links-banner-container {
    background: linear-gradient(0deg, #000000 30%, rgba(0, 0, 0, 0) 100%);
    .blog--links-banner {
      width: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
      padding: 0 20px;
      flex-direction: column;
      background-repeat: no-repeat;
      background-size: contain;
      background-size: 400px;
      background-position-x: 60%;
      background-position-y: 20%;
      background-image: url("../../images/mobileBlogBanner.png");

      .blog-banner-dots-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        max-width: 100px;
        box-sizing: border-box;
        margin: 20px 0;

        .dot {
          width: 10px;
          background: white;
          height: 10px;
          border-radius: 50%;
          margin: 10px 0px;
          cursor: pointer;
        }
      }

      .blog--links-banner-text {
        box-sizing: border-box;
        margin-top: 150px;
        background: linear-gradient(0deg, #000000 30%, rgba(0, 0, 0, 0) 100%);
        display: flex;
        align-items: flex-end;

        .blog-banner-text {
          box-sizing: border-box;

          .mobile-golden-heading {
            font-weight: 900;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 15px;
          }

          .blog-banner-description {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
          }
        }
      }
    }
  }

  .bloglink--container {
    box-sizing: border-box;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .mobile-bloglink--main-container {
      max-width: 290px;
      margin-bottom: 40px;
    }
  }

  .blog-link-pagination {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 10% 0px 10%;
    font-size: 18px;
    line-height: 21px;
    color: #989898;

    .blog-link-back-arrow {
      transform: rotate(180deg);
      cursor: pointer;
    }
  }
}
