.home-blog-container {
  padding: 7% 15%;
  background: #212121;

  .all-blogs-gallery {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .single-blog {
      .thumbnail {
        width: 325px;
        height: 225px;
        object-fit: contain;
      }

      .golden-heading {
        font-size: 16px;
        margin: 15px 0;
      }

      .description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #989898;
      }
    }
  }
}
