.mobile-hyperledger-main-container {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  padding: 0 10% 10% 10%;

  .hyperledger-side1 {
    box-sizing: border-box;

    .hyperledger-title {
      font-weight: 900;
      font-size: 25px;
      line-height: 30px;
      text-align: left;
      margin-bottom: 30px;
    }

    .hyperledger-text1 {
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-align: left;
      color: #989898;
    }
  }

  .mobile-hyperledger-divider {
    margin: 20px 0;
  }

  .hyperledger-side2 {
    width: 100%;
    box-sizing: border-box;
    padding-left: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .hyperledger-list-text {
      box-sizing: border-box;
      color: #989898;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
