.mobile-achievements-main-container {
  .achievements-banner-container {
    background: #212121;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 10% 10% 0 10%;

    .achivement-page-title {
      font-weight: 900;
      font-size: 20px;
      line-height: 24px;
      text-align: left;
      text-transform: uppercase;
    }

    .achievemnets-details-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 10% 0%;

      .column1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 10% 0;

        .achievements-details {
          width: 100px;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          flex-direction: column;
          margin-bottom: 70px;
          height: 120px;

          .number {
            font-weight: bold;
            font-size: 30px;
            line-height: 38px;
            text-transform: uppercase;
            margin-bottom: 10px;
          }

          .text {
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            text-transform: uppercase;
          }
        }
      }
    }

    .upper-divider {
      position: absolute;
      left: 20%;
      top: 40%;
    }

    .lower-divider {
      position: absolute;
      left: 20%;
      top: 60%;
    }
  }

  .achievemnets-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .golden-card {
      background: #dba360;
      display: flex;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      padding: 10% 8%;
      justify-content: center;

      .golden-card-title {
        font-weight: 900;
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 40px;
        color: #ffffff;
      }

      .golden-card-description {
        font-size: 18px;
        line-height: 21px;
        color: #ffffff;
      }
    }

    .white-card {
      background: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 10% 8%;
      flex-direction: column;

      .white-card-title {
        font-weight: 900;
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase;
      }

      .white-card-list-container {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #989898;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .list-container {
          width: 100%;
          margin: 20px 10px;

          .list-style {
            padding-left: 10%;
          }
        }
      }
    }
  }
}
