.title {
  display: flex;
  text-align: center;
  justify-content: center;

  .shadow-heading {
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 48px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: -17px;
    z-index: 1;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
