.title {
  display: flex;
  text-align: center;
  margin-bottom: 25px;
  justify-content: center;
  .golden-heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 50px;
  }

  .shadow-heading {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 95px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
