.medialinks--main-container {
  display: flex;
  margin: 20px 0px;

  .medialinks--container {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    cursor: pointer;
  }
}
