.services-in-focus--main-container {
  padding: 5% 10%;

  > header {
    padding: 0 10%;

    .golden-heading {
      font-size: 45px;
      text-align: center;
    }

    .details {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #989898;
      margin-top: 40px;
      margin-bottom: 60px;
    }
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
