.mobile-picture-frame {
  margin-bottom: 43px;
  position: relative;

  .picture-frame-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    position: relative;
  }

  .picture-frame-tag {
    position: absolute;
    width: 241px;
    background: #dba360;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px 15px 15px 20px;
    bottom: -25px;
    right: 0;
    cursor: pointer;
  }
}
