.services--main-container {
  background: #212121;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10%;

  .services--details-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

    .services--details {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      min-height: 550px;
    }

    .services--header {
      display: flex;
      height: 180px;
      justify-content: space-between;
      flex-direction: column;
    }

    .services--text {
      .golden-heading {
        font-size: 18px;
      }

      .services--text-lists {
        font-size: 16px;
        line-height: 20px;
        color: #989898;
        max-width: 300px;
      }
    }
  }
}
