.mobile-services-in-focus--main-container {
  padding: 10%;

  > header {
    padding: 0 10%;

    .mobile-golden-heading {
      font-weight: 900;
      font-size: 25px;
      line-height: 30px;
      text-align: left;
    }

    .details {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-align: left;
      color: #989898;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .carousel-header {
      position: relative;

      .arrow-container {
        position: absolute;
        bottom: -10%;
        z-index: 1;
      }
    }
  }
}
