.blockchain-banner--main-container {
  background: #000;

  .bg-container {
    background-image: url("../../../images//globe.png");
    background-repeat: no-repeat;
    padding: 10%;
    background-size: 50%;
    background-position: bottom;
    background-position-x: 100%;

    .golden-heading {
      font-size: 50px;
      line-height: 60px;
    }

    .sub-heading {
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      color: #989898;
      margin-bottom: 35px;
    }

    .details {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #989898;
    }
  }
}
