.mobile-footer--main-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5% 10%;
  flex-direction: column;

  .footer--text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
  }

  .footer--link {
    border-bottom: 2px solid black;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-top: 25px;
    cursor: pointer;
    text-transform: uppercase;
    color: #000000;
    width: fit-content;
    margin-bottom: 10%;
  }

  .mobile-social-links-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10% 0;

    .footer-heading {
      font-size: 25px;
    }
  }

  .golden-heading {
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
  }

  .footer-input-wrapper {
    border-bottom: 2px solid #86868b;
    display: flex;
    padding: 30px 0 10px 0;
    justify-content: space-between;

    .footer--input {
      border: hidden;
      padding: 0;
      outline: none;
      font-size: 18px;
      color: #989898;

      ::placeholder {
        font-size: 18px;
        line-height: 21px;
        font-weight: 400px;
        color: #989898;
      }
    }

    .footer--input-arrow {
      cursor: pointer;
      width: 20px;
    }
  }
}
