.mobile-internal-works--main-container {
  padding: 10%;

  .internal-works--header {
    display: flex;
    justify-content: space-between;
    width: 70px;
    margin-bottom: 20px;
    cursor: pointer;

    .golden-heading {
      font-size: 24px;
      text-transform: uppercase;
      text-decoration-line: underline;
      font-weight: normal;
    }

    .internal-works-back-arrow {
      transform: rotate(180deg);
      cursor: pointer;
      margin-right: 15px;
    }
  }

  .banner-picture-frame {
    position: relative;

    .picture-frame-img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      cursor: pointer;
    }

    .pictrure-frame-tag {
      position: absolute;
      width: 241px;
      height: 59px;
      background: #dba360;
      font-style: normal;
      font-weight: 900;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #ffffff;
      padding: 20px 15px 15px 20px;
      bottom: -10px;
      right: 5px;
      cursor: pointer;
    }
  }

  .mobile-internal-works--details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .mobile-internal--works--column1 {
      box-sizing: border-box;
      width: 100%;
      padding-top: 40px;
      background: black;

      .inernal--works-text1 {
        margin-bottom: 40px;
        box-sizing: border-box;
        padding: 2px 40px;

        .golden-heading {
          font-weight: 900;
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 20px;
        }

        .header {
          font-weight: 900;
          font-size: 25px;
          line-height: 30px;
        }

        .technologies {
          text-align: center;
          width: 100%;
        }

        .description {
          font-size: 16px;
          line-height: 19px;
          color: #989898;
        }

        .mobile-desc {
          margin: 10px 0 20px 0;
        }

        .internal--works-logo-container {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .techonolgies-log-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 230px;
            margin-bottom: 20px;

            .logo-style {
              width: 80px;
              height: 30px;
              object-fit: contain;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .internal--works-details2 {
    box-sizing: border-box;
    padding-top: 7%;

    .inernal--works-text2 {
      margin-bottom: 5%;

      .golden-heading {
        font-size: 30px;
        margin-bottom: 20px;
      }

      .sub-heading {
        font-size: 20px !important;
        margin-bottom: 20px;
      }

      .description {
        font-size: 18px;
        line-height: 25px;
        color: #989898;
      }
    }

    .inernal--works-pictures {
      margin-top: 40px;
      margin-bottom: 0px;
      display: flex;
      justify-content: space-between;
    }
  }
}
