.ant-input {
  border: none !important;
  border-bottom: 1px solid #86868b !important;
  background: transparent !important;
  color: #989898 !important;
  flex: 1;
  padding-left: 0 !important;
  border-radius: 0px !important;
  font-size: 16px !important;
  margin-top: 20px;
}

.ant-input::placeholder {
  color: #989898 !important;
}
