.mobile-works--main-container {
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .works--pictures {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .picture-frame {
      flex: 1;
    }
  }

  .social-media-container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }

  .golden-heading {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;

    .shadow-heading {
      color: rgba(229, 229, 229, 0.3);
      padding-top: 33px;
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
    }
  }
}
