.mobile-works--main-container {
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .works--pictures {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .picture-frame {
      flex: 1;
      margin: 0;
    }
  }

  .social-media-container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }

  .golden-heading {
    .shadow-heading {
      color: rgba(229, 229, 229, 0.3);
    }
  }
}
