.home--main-container {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 150px;
  .home--button {
    width: 160px;
    height: 40px;
    border: 1.5px solid #dba360;
    box-sizing: border-box;
    border-radius: 50px;
    background: none;
    background-color: #dba360;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: white;
    margin-top: 20px;
  }
  .home--description {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    max-width: 629px;
    color: #989898;
  }
}
