.mobile-banner--main-container {
  box-sizing: border-box;
  width: 100%;
  background: black;
  padding: 5%;

  .slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .home--description {
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #989898;
      text-align: center;
      margin-top: 22px;
    }

    .home--button {
      width: 140px;
      height: 40px;
      border: 1.5px solid #dba360;
      box-sizing: border-box;
      border-radius: 50px;
      background: none;
      background-color: #dba360;
      cursor: pointer;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      color: white;
      margin-top: 20px;
      margin-bottom: 25px;
    }

    .img-gradiat-container {
      position: relative;

      .graiant-effect-top {
        width: 100%;
        height: 100px;
        position: absolute;
        top: 0;
        background-image: linear-gradient(black, rgba(97, 97, 97, 0.1));
      }

      .graiant-effect-right {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100px;

        background-image: linear-gradient(
          to right,
          rgba(97, 97, 97, 0.1),
          black
        );
      }

      .graiant-effect-bottom {
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(rgba(97, 97, 97, 0.1), black);
      }

      .slide-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-bottom: 20px;
      }

      .face-top {
        position: absolute;
        width: 40%;
        top: 20%;
        right: -3%;
      }

      .face-bottom {
        position: absolute;
        width: 60%;
        height: 25%;
        bottom: -3%;
        left: 16%;
      }
    }
  }

  .dots-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 2% 20%;

    .dot {
      width: 10px;
      background: #fff;
      height: 10px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .mobile-golden-heading {
    font-weight: 900;
    font-size: 31px;
    line-height: 36px;
  }
}
