.banner--main-container {
  box-sizing: border-box;
  width: 100%;
  background: black;
  display: flex;
  padding: 0 10% 10%;
  padding-top: 5%;
  align-items: center;

  .golden-heading {
    font-size: 45px;
  }

  .home--button {
    width: 160px;
    height: 40px;
    border: 1.5px solid #dba360;
    box-sizing: border-box;
    border-radius: 50px;
    background: none;
    background-color: #dba360;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: white;
    margin-top: 20px;
  }

  .home--description {
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    max-width: 629px;
    color: #989898;
  }

  .dots-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    width: 70px;

    .dot {
      width: 10px;
      background: #fff;
      height: 10px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .slide-content {
    display: flex;
    height: 400px;
  }

  .slide-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .right-section {
    flex: 1;
  }

  .left-section {
    flex: 1;
  }
}
