.mobile-our-works--main-container {
  padding: 0 10%;

  .our-works--links-container {
    box-sizing: border-box;
    padding-top: 5px;

    .link-container {
      display: flex;

      .arrow-container {
        width: 35px;
        display: flex;
        align-items: center;

        .selected-arrow {
          cursor: pointer;
          width: 20px;
        }
      }

      .link-label {
        cursor: pointer;
        color: #bbbbbb;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
      }

      .selected-option {
        color: #dba360;
        text-decoration: underline;
      }
    }
  }

  .our-works--pictures-frame-container {
    margin-top: 30px;
    box-sizing: border-box;
  }
}
