.our-works--main-container {
  padding: 0 10% 8% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .our-works--links-container {
    align-items: flex-start;
    box-sizing: border-box;
    padding-top: 5px;

    .link-container {
      display: flex;

      .arrow-container {
        width: 35px;
        display: flex;
        align-items: center;

        .selected-arrow {
          cursor: pointer;
          width: 20px;
        }
      }

      .link-label {
        cursor: pointer;
        color: #bbbbbb;
        font-weight: bold;
        font-size: 18px;
        line-height: 31px;
        text-decoration: none;
        text-transform: uppercase;
      }

      .selected-option {
        color: #dba360;
        text-decoration: underline;
      }
    }
  }

  .our-works--pictures-frame-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 10%;
  }
}
