.mobile-about-us--main-container {
  padding-top: 3%;

  .about-us--general-details {
    width: 100%;
    height: 100%;
    padding: 0 10%;

    .details--text {
      font-size: 18px;
      color: #989898;
      margin-top: 40px;
    }
  }

  .about-us-photo-gallery {
    background-color: #212121;
    width: 100%;
    margin-top: 8%;
    background-image: url(../../images/golden-swirls.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: auto;

    .photo-gallery--heading {
      padding: 5% 0;

      .description {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #989898;
        margin-top: 20px;
        padding: 0 20px;
      }
    }

    .cards-list {
      display: flex;
      overflow: hidden;
    }

    .arrow-container {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      > div {
        width: 100px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
