.mobile-tech-platforms-main-container {
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .mobile-golden-heading {
    text-align: center;
    margin-top: 60px;
  }

  .tech-platforms-description {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box;
    color: #989898;
  }
  .texhlogo-container1 {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .tech-platforms-logos {
      margin-top: 60px;
    }
  }
}
