.shadow-heading {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 95px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: -40px;
  z-index: 1;
}
