.mobile-menu-wrapper {
  padding: 0 10%;
  width: 100%;
  height: calc(100% - 76px);
  align-items: center;
  display: flex;

  .menu-body {
    display: flex;

    .mobile-golden-heading {
      cursor: pointer;
    }

    .collapse-option {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 35px;
      color: #989898;
      cursor: pointer;
    }
  }
}
