.bloglink--main-container {
  max-width: 340px;
  margin-bottom: 20px;
  .bloglink--img-container {
    .bloglink-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .bloglink--date {
    margin-top: 14px;
    font-size: 16px;
    line-height: 19px;
    color: #989898;
  }

  .bloglink--label {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 25px;
    text-transform: uppercase;
  }

  .bloglink--description {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #989898;
  }
}
