.mobile-services--main-container {
  background: #212121;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  padding: 10%;

  .services--header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .golden-heading {
      font-weight: 900;
      font-size: 30px;
      line-height: 36px;
      display: flex;
      text-align: center;
      padding: 0 10%;
      position: relative;
    }
  }

  .services--text {
    padding: 10% 10% 0 10%;
    box-sizing: border-box;

    .golden-heading {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 20px;
    }

    .services--text-lists {
      font-size: 16px;
      line-height: 19px;
      color: #989898;
      padding-left: 25px;
    }
  }

  .golden-heading {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;

    .shadow-heading {
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      padding-top: 30px;
    }
  }
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .button {
    width: 140px;
    height: 40px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
  }
}
