.header--main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 50px 10%;
  .header-logo {
    width: 40.3px;
    height: 30px;
  }
  .button {
    width: 140px;
    height: 40px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
  }

  .menu-btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
}
