.medialinks--main-container {
  display: flex;
  margin: 20px 0px;
  .medialinks--container {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    margin: 0px 5px;
    cursor: pointer;
  }
}
